body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

#mainContent{
	background-color: lightgray;
	margin-left: 150px;
	margin-right: 150px;
	padding-bottom: 5px;
	font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

h2{
	text-align: center;
	font-size: 45px;
}
#question {
	text-align: center;
	font-size: 40px;
}

#timer {
	text-align: center;
	font-size: 25px;

}

h3 {
	text-align: center;
	font-size: 28px;

}

h3:hover {
	text-decoration: underline;
	text-decoration-style: wavy;

}

button {
	background-color: darkgray;
	font-weight: bold;
	font-size: 36px;
	padding: 5px 0px 5px 0px;
	border: 2px solid black;
	width: 20%;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-family: 'Amatic SC', cursive;

}

button:hover{
	background-color: black;
	color: white;
}

